body
{
    background-color: deepskyblue;
}

div
{
    border: 2px dashed red;
}

.title
{
    text-align: center;
    padding: 20px 0;
}

.subtitle
{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.gif
{
    padding: 6%;
    border: 2px solid blue;
    color: blue;
}

.content 
{
    display: flex;
    justify-content: center;
    padding: 6%;
}

.displayGif
{
    flex: 3;
}

.descGif
{
    flex: 2;
}

.content div
{
    height: 200px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer
{
    padding: 20px 0;
    text-align: center;
}