/*
Desktop first niestety
Problematyka
link instagrama nie dziala
gradiend na main > content nie działa
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #fff;

}

html {
    scroll-behavior: smooth;
  }

body {background-color: #0B1D26;}

.container
{
    width: 100%;
    height: auto;
}

.header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("bcg.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.header__nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    /* border: 2px solid blue; */
}

ul.logo-left
{
    margin-left: 4%;
}

.nav-3link
{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.nav-3link > li
{
    margin-right: 20px;
}

ul.nav-right
{
    margin-right: 4%;
}

.nav-right > li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right > li > img
{
    margin-right: 5px;
    height: 18px;
}

.content-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 8;
}

.bgc-aside
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bgc-aside__left
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgc-aside__left > p
{
    transform: rotateZ(90deg);
    width: 100px;
    height: 25px;
}

.bgc-aside__left img
{
    display: flex;
    flex-direction: column;
    margin-top: 45%;
}

.subtitle
{
    display: flex;
    align-items: center;

}

.border-width
{
    display: inline-block;
    height: 2px;
    width: 80px;
    margin-right: 1.8em;
    font-size: 1em;
    line-height: 2em;
    background-color: rgba(251, 215, 132, 0.678);
}

.subtitle:first-child
{
    font-family: Lato;
    font-weight: 800;
    font-size: 1.2em;
    color: rgba(251, 215, 132, 0.678);
}

.hero > h1
{
    font-family: PT serif;
    font-weight: bold;
    font-size: 6em;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.678);
}

.hero > p
{
    color: rgba(255, 255, 255, 0.678);
}

a > span 
{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.678);
}

.bgc-aside__right
{
    margin: 13vh 2vw 0 0;
}

.bgc-aside__right > p
{
    margin-bottom: 5.5vh;
}

.border-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 4vw 0 0;
}

.border--long
{
    height: 35vh;
    border: 1px solid rgba(255, 255, 255, 0.514);
    z-index: 1;
}

.border--short
{
    /* display: inline-block; */
    height: 10vh;
    margin-top: -19vw;
    border-right: 2px solid #fff;
    z-index: 20;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%); */
}

.content__section
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-between;
    margin: 15vh 0;
}

.content__colL
{
    margin-right: 10vh;
}

.content__colL, .content__colR
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
}

.content__row1
{
    font-size: 12px;
    color: #FBD784;
}

.content__row2, .content__row3
{
    margin-top: 3vh;
}


.content__row3 > p
{
    line-height: 1.8;
    font-size: 13px;
}

.content__row4 > a
{
    color: #FBD784 !important;
    margin-top: 33px;
    line-height: 4;

}

.footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10vh;
}

.footer-left > p
{
    font-size: 14px;
    margin: 2vh 0 5vh;
}

.footer-right
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul.footer-nav__container {margin: 0 5vh}

ul > h3
{
    color: #FBD784;
    margin-bottom: 4vh;
}

ul > li
{
    font-size: 14px;
    margin-top: 2vh;
}
/*
------------------------------------------------------------------------------------------------------
URZĄDENIA MOBILNE
------------------------------------------------------------------------------------------------------
*/

@media screen and (max-device-width: 768px)
{

    .content-top
{
    flex: 30;
}

    .bgc-aside__left
    {
      margin-top: 4.3em;
    }

    .border-width
    {
      height: 1.25px;
      width: 40px;
      margin-right: .3em;
    }

    .subtitle:first-child {font-size: .8em;}

    .hero > h1
    {
       font-size: 3em;
       line-height: 1em;
    }

    a > span 
    {
       font-size: 1em;
    }

    .bgc-aside__right
    {
        margin-top: 0;
    }

    .bgc-aside__right > p
    {
        margin: 1vh 0;
    }

    .border-column
    {
        margin-top: 0vh;
    }

    .border--long
    {
        height: 12vh;
    }

    .border--short
    {
        height: 3vh;
        margin: -12vh 0vh 0 0;
        border-right: 2px solid #fff;
        z-index: 20;
    }

    .content__section
    {
        margin: 10vh 0;
    }

    .content__colL, .content__colR
    {
        width: 300px;
        margin: 10vh 0;
    }

    .footer
    {
        margin: 0 2vh;
    }

    .footer-left > p
    {
        font-size: 14px;
        margin: 2vh 0 5vh;
    }

    ul.footer-nav__container {margin: 0 1vh}

}

@media screen and (max-device-width: 599px)
{
    .content__colL--reverse
    {
        order: 2;
    }
}

@media screen and (max-device-width: 375px)
{

    .header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: url("bcg.webp") no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .header__nav
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        /* border: 2px solid blue; */
    }
    
    ul.logo-left
    {
        margin-left: 4%;
    }
    
    .nav-3link
    {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    
    .nav-3link > li
    {
        margin-right: 20px;
    }
    
    ul.nav-right
    {
        margin-right: 4%;
    }
    
    .nav-right > li
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-right > li > img
    {
        margin-right: 5px;
        height: 18px;
    }


    .content__colL
{
    margin-right: 10vh;
}

    .content__colR
{

}

    .content__colL, .content__colR
    {
        width: 300px;
        margin: 1vh 0;
    }
}