*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #fff;

}

body{background-color: #354147}

.container
{
    width: 100%;
    height: auto;
}

.header
{
    /* margin-top: -50px; */
    width: 100%;
    height: 100vh;
    background: url("bgc.webp") no-repeat;
}

.header__nav
{
    margin-top: 20px;
}

.nav-between
{
    display: flex;
    justify-content: space-between;
}

.nav-evenly
{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

li {margin-right: 10px}

.nav-between > li:-moz-first-node
{
    font-size:1.5em;
    font-weight: 800;
}
