*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color:cadetblue;
}

.container
{
    width: 100%;
    height: auto;

}

.header
{
    display: flex;
    justify-content: space-between;
}

.menu
{
    width: 40vw;
    margin: 3vw 1vw;
    display: flex;
    justify-content: space-evenly;
}

li, a
{
    text-decoration: none;
    list-style: none;
}



.hero
{
    margin-top: 10vh;
    text-align: center;
}

section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* width: 60vw; */
}

p
{
    margin: 5vw;
    text-align: center;
}