/* Created by Artisteer v4.3.0.60745 */

.kon-header, #kon-header-bg, .kon-layout-cell, .kon-layout-wrapper, .kon-footer, .kon-nav, #kon-hmenu-bg, .kon-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.kon-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.kon-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#kon-header-bg 
{
   display: none;
}

.kon-content-layout, .kon-content-layout-row, .kon-layout-cell 
{
   display: block;
   zoom: 1;
}
.kon-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.kon-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.kon-search div>input[type="text"]
{
   width: 100%;
}

* html form.kon-search>input[type="text"] 
{
   margin :0;
}

form.kon-search
{
   zoom: 1;
}
.kon-postheadericons span{
   zoom: 1;
}
.kon-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.kon-content 
{
   width: auto;
   float:none;
}

