/* Created by Artisteer v4.3.0.60745 */

#kon-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.kon-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.kon-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
   height:24px;
}

.kon-postcontent,
.kon-postheadericons,
.kon-postfootericons,
.kon-blockcontent,
ul.kon-vmenu a 
{
   text-align: left;
}

.kon-postcontent,
.kon-postcontent li,
.kon-postcontent table,
.kon-postcontent a,
.kon-postcontent a:link,
.kon-postcontent a:visited,
.kon-postcontent a.visited,
.kon-postcontent a:hover,
.kon-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.kon-postcontent p
{
   margin: 13px 0;
}

.kon-postcontent h1, .kon-postcontent h1 a, .kon-postcontent h1 a:link, .kon-postcontent h1 a:visited, .kon-postcontent h1 a:hover,
.kon-postcontent h2, .kon-postcontent h2 a, .kon-postcontent h2 a:link, .kon-postcontent h2 a:visited, .kon-postcontent h2 a:hover,
.kon-postcontent h3, .kon-postcontent h3 a, .kon-postcontent h3 a:link, .kon-postcontent h3 a:visited, .kon-postcontent h3 a:hover,
.kon-postcontent h4, .kon-postcontent h4 a, .kon-postcontent h4 a:link, .kon-postcontent h4 a:visited, .kon-postcontent h4 a:hover,
.kon-postcontent h5, .kon-postcontent h5 a, .kon-postcontent h5 a:link, .kon-postcontent h5 a:visited, .kon-postcontent h5 a:hover,
.kon-postcontent h6, .kon-postcontent h6 a, .kon-postcontent h6 a:link, .kon-postcontent h6 a:visited, .kon-postcontent h6 a:hover,
.kon-blockheader .t, .kon-blockheader .t a, .kon-blockheader .t a:link, .kon-blockheader .t a:visited, .kon-blockheader .t a:hover,
.kon-vmenublockheader .t, .kon-vmenublockheader .t a, .kon-vmenublockheader .t a:link, .kon-vmenublockheader .t a:visited, .kon-vmenublockheader .t a:hover,
.kon-headline, .kon-headline a, .kon-headline a:link, .kon-headline a:visited, .kon-headline a:hover,
.kon-slogan, .kon-slogan a, .kon-slogan a:link, .kon-slogan a:visited, .kon-slogan a:hover,
.kon-postheader, .kon-postheader a, .kon-postheader a:link, .kon-postheader a:visited, .kon-postheader a:hover
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.kon-postcontent a, .kon-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FA5705;
}

.kon-postcontent a:visited, .kon-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #839BB4;
}

.kon-postcontent  a:hover, .kon-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #FB7C3C;
}

.kon-postcontent h1
{
   color: #6C7F93;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h1 a, .kon-postcontent h1 a:link, .kon-postcontent h1 a:hover, .kon-postcontent h1 a:visited, .kon-blockcontent h1 a, .kon-blockcontent h1 a:link, .kon-blockcontent h1 a:hover, .kon-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h2
{
   color: #8D9CAA;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h2 a, .kon-postcontent h2 a:link, .kon-postcontent h2 a:hover, .kon-postcontent h2 a:visited, .kon-blockcontent h2 a, .kon-blockcontent h2 a:link, .kon-blockcontent h2 a:hover, .kon-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h3
{
   color: #FB7C3C;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h3 a, .kon-postcontent h3 a:link, .kon-postcontent h3 a:hover, .kon-postcontent h3 a:visited, .kon-blockcontent h3 a, .kon-blockcontent h3 a:link, .kon-blockcontent h3 a:hover, .kon-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h4
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h4 a, .kon-postcontent h4 a:link, .kon-postcontent h4 a:hover, .kon-postcontent h4 a:visited, .kon-blockcontent h4 a, .kon-blockcontent h4 a:link, .kon-blockcontent h4 a:hover, .kon-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h5
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h5 a, .kon-postcontent h5 a:link, .kon-postcontent h5 a:hover, .kon-postcontent h5 a:visited, .kon-blockcontent h5 a, .kon-blockcontent h5 a:link, .kon-blockcontent h5 a:hover, .kon-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h6
{
   color: #A6B7C9;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-postcontent h6 a, .kon-postcontent h6 a:link, .kon-postcontent h6 a:hover, .kon-postcontent h6 a:visited, .kon-blockcontent h6 a, .kon-blockcontent h6 a:link, .kon-blockcontent h6 a:hover, .kon-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #kon-hmenu-bg, .kon-sheet, .kon-hmenu a, .kon-vmenu a, .kon-slidenavigator > a, .kon-checkbox:before, .kon-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #kon-hmenu-bg, .kon-sheet, .kon-slidenavigator > a, .kon-checkbox:before, .kon-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #303F50;
}

.kon-header:before, 
#kon-header-bg:before, 
.kon-layout-cell:before, 
.kon-layout-wrapper:before, 
.kon-footer:before, 
.kon-nav:before, 
#kon-hmenu-bg:before, 
.kon-sheet:before 
{
   width: 100%;
   content: " ";
   display: table;
   border-collapse: collapse;
   border-spacing: 0;
}

.kon-header:after, 
#kon-header-bg:after, 
.kon-layout-cell:after, 
.kon-layout-wrapper:after, 
.kon-footer:after, 
.kon-nav:after, 
#kon-hmenu-bg:after, 
.kon-sheet:after,
.cleared, .clearfix:after 
{
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .kon-postcontent li h1, .kon-blockcontent li h1 
{
   margin:1px;
} 
li h2, .kon-postcontent li h2, .kon-blockcontent li h2 
{
   margin:1px;
} 
li h3, .kon-postcontent li h3, .kon-blockcontent li h3 
{
   margin:1px;
} 
li h4, .kon-postcontent li h4, .kon-blockcontent li h4 
{
   margin:1px;
} 
li h5, .kon-postcontent li h5, .kon-blockcontent li h5 
{
   margin:1px;
} 
li h6, .kon-postcontent li h6, .kon-blockcontent li h6 
{
   margin:1px;
} 
li p, .kon-postcontent li p, .kon-blockcontent li p 
{
   margin:1px;
}


.kon-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.kon-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.kon-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.kon-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.kon-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 29px;
  left: 1.23%;
  margin-left: -2px !important;
  line-height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.kon-headline, 
.kon-headline a, 
.kon-headline a:link, 
.kon-headline a:visited, 
.kon-headline a:hover
{
font-size: 36px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}






#kon-header-bg
{
   position: absolute;
   overflow:hidden;
   left:0;
   margin:0 auto;
   width: 100%;
   height: 110px;
   z-index: auto;
   background-position: center top;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
}

.kon-sheet
{
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 100%;
   min-width: 700px;
   max-width: 1920px;
   z-index: auto !important;
}

.kon-header
{
   margin:0 auto;
   background-repeat: no-repeat;
   height: 110px;
   background-image: url('images/header.jpg');
   background-position: center top;
   position: relative;
   z-index: auto !important;
}

.custom-responsive .kon-header
{
   background-image: url('images/header.jpg');
   background-position: center top;
}

.default-responsive .kon-header,
.default-responsive #kon-header-bg
{
   background-image: url('images/header.jpg');
   background-position: center center;
   background-size: cover;
}

.kon-header>.widget 
{
   position:absolute;
   z-index:101;
}

.kon-layout-wrapper
{
   position: relative;
   margin: 20px auto 0 auto;
   z-index: auto !important;
}

.kon-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.kon-content-layout-row 
{
   display: table-row;
}

.kon-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.kon-postcontent .kon-content-layout
{
   border-collapse: collapse;
}

.kon-block
{
   margin:3px;
}
div.kon-block img
{
   border: none;
   margin: 0;
}

.kon-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.kon-blockheader .t,
.kon-blockheader .t a,
.kon-blockheader .t a:link,
.kon-blockheader .t a:visited, 
.kon-blockheader .t a:hover
{
   color: #758799;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.kon-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.kon-blockcontent table,
.kon-blockcontent li, 
.kon-blockcontent a,
.kon-blockcontent a:link,
.kon-blockcontent a:visited,
.kon-blockcontent a:hover
{
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.kon-blockcontent p
{
   margin: 0 5px;
}

.kon-blockcontent a, .kon-blockcontent a:link
{
   color: #FB7C3C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-blockcontent a:visited, .kon-blockcontent a.visited
{
   color: #A9BACB;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.kon-blockcontent a:hover, .kon-blockcontent a.hover
{
   color: #FA5705;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.kon-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .kon-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #4E6883;
   margin: 5px 0 0 10px;
}

.kon-block ul>li, .kon-block ol
{
   padding: 0;
}

.kon-block ul>li
{
   padding-left: 12px;
}

.kon-breadcrumbs
{
   margin:0 auto;
}

a.kon-button,
a.kon-button:link,
a:link.kon-button:link,
body a.kon-button:link,
a.kon-button:visited,
body a.kon-button:visited,
input.kon-button,
button.kon-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 24px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.kon-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .kon-button
{
   display: block;
   float: left;
}

input, select, textarea, a.kon-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.kon-block select 
{
   width:96%;
}

input.kon-button
{
   float: none !important;
   -webkit-appearance: none;
}

.kon-button.active, .kon-button.active:hover
{
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
}
.kon-button.active, .kon-button.active:hover {
   color: #FFFFFF !important;
}

.kon-button.hover, .kon-button:hover
{
   background: #8A99A8;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
}
.kon-button.hover, .kon-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.kon-error, textarea.kon-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.kon-error, textarea.kon-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.kon-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 4px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #364049 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.kon-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.kon-search input, a.kon-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.kon-search>input, a.kon-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.kon-search input[type="submit"], input.kon-search-button, a.kon-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.kon-search input[type="submit"], input.kon-search-button, a.kon-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #FFFFFF !important;
   cursor: pointer;
}

a.kon-search-button span.kon-search-button-text {
   display: none;
}

label.kon-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.kon-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #364049 !important;
}

.kon-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.kon-checkbox.active:before
{
   background: #FC905A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.kon-checkbox.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.kon-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.kon-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #364049 !important;
}

.kon-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.kon-radiobutton.active:before
{
   background: #B9C2CB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.kon-radiobutton.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.kon-comments
{
   border-top:1px dotted #A1ADBA;
   margin:0 auto;
   margin-top: 25px;
}

.kon-comments h2
{
   color: #23292F;
}

.kon-comment-inner
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 96px;
}
.kon-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:2px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.kon-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.kon-comment-content
{
   padding:10px 0;
   color: #303F50;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-comment
{
   margin-top: 6px;
}

.kon-comment:first-child
{
   margin-top: 0;
}

.kon-comment-header
{
   color: #23292F;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.kon-comment-header a, 
.kon-comment-header a:link, 
.kon-comment-header a:visited,
.kon-comment-header a.visited,
.kon-comment-header a:hover,
.kon-comment-header a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.kon-comment-header a, .kon-comment-header a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   color: #758799;
}

.kon-comment-header a:visited, .kon-comment-header a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #758799;
}

.kon-comment-header a:hover,  .kon-comment-header a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #758799;
}

.kon-comment-content a, 
.kon-comment-content a:link, 
.kon-comment-content a:visited,
.kon-comment-content a.visited,
.kon-comment-content a:hover,
.kon-comment-content a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-comment-content a, .kon-comment-content a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #CD4704;
}

.kon-comment-content a:visited, .kon-comment-content a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #3F5369;
}

.kon-comment-content a:hover,  .kon-comment-content a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #CD4704;
}

.kon-pager
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:6px;
   margin:2px;
}

.kon-pager>*:last-child
{
   margin-right:0 !important;
}

.kon-pager>span {
   cursor:default;
}

.kon-pager>*
{
   background: #D9DEE3;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:10px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.kon-pager a:link,
.kon-pager a:visited,
.kon-pager .active
{
   line-height: normal;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1C2126
;
}

.kon-pager .active
{
   background: #B6BFC9;
   padding:10px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.kon-pager .more
{
   background: #D9DEE3;
   margin:0 4px 0 auto;
}
.kon-pager a.more:link,
.kon-pager a.more:visited
{
   color: #411701
;
}
.kon-pager a:hover
{
   background: #B9C2CB;
   padding:10px;
   margin:0 4px 0 auto;
}
.kon-pager  a:hover,
.kon-pager  a.more:hover
{
   text-decoration: none;
   color: #21262C
;
}
.kon-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.kon-pager>*:last-child:after{
   display:none;
}

.kon-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #23292F;
}

.kon-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #23292F;
}

.kon-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.kon-commentsform input:not([type=submit]), .kon-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.kon-commentsform .form-submit
{
   margin-top: 10px;
}
.kon-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.kon-article img, img.kon-article, .kon-block img, .kon-footer img
{
   margin: 7px 7px 7px 7px;
}

.kon-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.kon-article table, table.kon-article
{
   border-collapse: collapse;
   margin: 1px;
}

.kon-post .kon-content-layout-br
{
   height: 0;
}

.kon-article th, .kon-article td
{
   padding: 2px;
   border: solid 1px #B9C2CB;
   vertical-align: top;
   text-align: left;
}

.kon-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.kon-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.kon-postheader
{
   color: #4E6883;
   margin: 5px 10px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.kon-postheader a, 
.kon-postheader a:link, 
.kon-postheader a:visited,
.kon-postheader a.visited,
.kon-postheader a:hover,
.kon-postheader a.hovered
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.kon-postheader a, .kon-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7F41;
}

.kon-postheader a:visited, .kon-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #708BA9;
}

.kon-postheader a:hover,  .kon-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7C3C;
}

.kon-postheadericons,
.kon-postheadericons a,
.kon-postheadericons a:link,
.kon-postheadericons a:visited,
.kon-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4E6883;
}

.kon-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.kon-postheadericons a, .kon-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FB722D;
}

.kon-postheadericons a:visited, .kon-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #587493;
}

.kon-postheadericons a:hover, .kon-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #E65005;
}

.kon-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .kon-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .kon-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .kon-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-postcontent ul>li:before,  .kon-post ul>li:before,  .kon-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .kon-postcontent ul>li:before, .opera   .kon-post ul>li:before, .opera   .kon-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-postcontent li, .kon-post li, .kon-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.kon-postcontent ul>li, .kon-post ul>li, .kon-textblock ul>li, .kon-postcontent ol, .kon-post ol, .kon-textblock ol
{
   padding: 0;
}

.kon-postcontent ul>li, .kon-post ul>li, .kon-textblock ul>li
{
   padding-left: 17px;
}

.kon-postcontent ul>li:before,  .kon-post ul>li:before,  .kon-textblock ul>li:before
{
   margin-left: -17px;
}

.kon-postcontent ol, .kon-post ol, .kon-textblock ol, .kon-postcontent ul, .kon-post ul, .kon-textblock ul
{
   margin: 1em 0 1em 11px;
}

.kon-postcontent li ol, .kon-post li ol, .kon-textblock li ol, .kon-postcontent li ul, .kon-post li ul, .kon-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.kon-postcontent li, .kon-post li, .kon-textblock li
{
   margin: 3px 0 0 0;
}

.kon-postcontent ol>li, .kon-post ol>li, .kon-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.kon-postcontent ul>li, .kon-post ul>li, .kon-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EFF2F5 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .kon-postcontent blockquote a, .kon-blockcontent blockquote a, .kon-footer blockquote a,
blockquote a:link, .kon-postcontent blockquote a:link, .kon-blockcontent blockquote a:link, .kon-footer blockquote a:link,
blockquote a:visited, .kon-postcontent blockquote a:visited, .kon-blockcontent blockquote a:visited, .kon-footer blockquote a:visited,
blockquote a:hover, .kon-postcontent blockquote a:hover, .kon-blockcontent blockquote a:hover, .kon-footer blockquote a:hover
{
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.kon-postcontent blockquote p,
.kon-blockcontent blockquote p,
.kon-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4C5967;
}

.Sorter
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color:#364049;
}

.kon-footer
{
   border-top:1px dotted #9CAFC4;
   padding:25px;
   margin:20px auto 0;
   position: relative;
   color: #6986A5;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
}

.kon-footer a,
.kon-footer a:link,
.kon-footer a:visited,
.kon-footer a:hover,
.kon-footer td, 
.kon-footer th,
.kon-footer caption
{
   color: #6986A5;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.kon-footer p 
{
   padding:0;
   text-align: center;
}

.kon-footer a,
.kon-footer a:link
{
   color: #839BB4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.kon-footer a:visited
{
   color: #607E9F;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.kon-footer a:hover
{
   color: #FB7C3C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.kon-footer h1
{
   color: #8A99A8;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer h2
{
   color: #A1ADBA;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer h3
{
   color: #FA681E;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer h4
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer h5
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer h6
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.kon-footer img
{
   border: none;
   margin: 0;
}

.kon-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-rss-tag-icon:empty
{
   vertical-align: middle;
}

.kon-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.kon-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.kon-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.kon-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.kon-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.kon-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.kon-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.kon-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.kon-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .kon-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.kon-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #A53903;
}

.kon-footer ul>li, .kon-footer ol
{
   padding: 0;
}

.kon-footer ul>li
{
   padding-left: 13px;
}

.kon-page-footer, 
.kon-page-footer a,
.kon-page-footer a:link,
.kon-page-footer a:visited,
.kon-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #647587;
}

.kon-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #435970;
}

.kon-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.kon-lightbox,
.kon-lightbox-wrapper .kon-lightbox-image
{
   cursor: pointer;
}

.kon-lightbox-wrapper .kon-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.kon-lightbox-wrapper .kon-lightbox-image.active
{
   display: inline-block;
}

.kon-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.kon-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.kon-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.kon-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.kon-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.kon-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.kon-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.kon-lightbox-wrapper .arrow-t, 
.kon-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.kon-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.kon-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.kon-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.kon-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.kon-lightbox-wrapper .close .cw, 
.kon-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.kon-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.kon-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.kon-lightbox-wrapper .close-alt, 
.kon-lightbox-wrapper .arrow-right-alt, 
.kon-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .kon-lightbox-wrapper .close-alt, 
.ie8 .kon-lightbox-wrapper .arrow-right-alt, 
.ie8 .kon-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .kon-lightbox-wrapper .cw, 
.ie8 .kon-lightbox-wrapper .ccw 
{
   display: none;
}

.kon-content-layout .kon-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
